<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/images/default-logo.svg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLink="/"
                    >DASHBOARD</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    >USER</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    >LEARNING MANAGEMENT</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLink="/courses"
                    >COURSES</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    >SETTINGS</a
                  >
                </li>
            </ul>
        <ul class="navbar-nav drop-down mt-2 mt-lg-0">
            <li class="nav-item dropdown mt-2">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Hi, Lawal
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="profile">Profile</a>
                <a class="dropdown-item" href="profile">Settings</a>
                <a class="dropdown-item">Logout</a>
              </div>
            </li>
            <li class="nav-item with-img">
              <img src="assets/images/profile.png"
                alt="" 
              />
            </li>
            <li class="nav-item noti-icon mt-2 ml-2">
              <img src="assets/images/noti-icon.svg" alt="" />
              <span
              matBadge="3"
              matBadgeSize="small"
              matBadgeColor="primary"
            ></span>
            </li>
          </ul>
        </div>
    </div>
  </nav> 