.text-grey {
    color: #b9b9b9;
    font-size: 20px;
}

.bg-grey {
    box-shadow: #b9b9b9;
}

tr {
    background-color: #fff;
    outline: none;
    box-shadow: 0px 2px 4px rgba(82, 82, 82, 0.12);
    border-radius: 6px;
}

td {
    border: transparent;
    border-radius: 2px;
    vertical-align: middle;
}

.header {
    font-size: 12px;
    line-height: 14px;
    text-transform: capitalize;
    color: #B9B9B9;
}

.progress {
    background: #EAEAEA;
    border-radius: 5px;
    width: 187px;
    height: 8px;
}

.progressbar {
    background-color: #393977;
    border-radius: 5px;
    width: 50px;
    height: 8px;
}

.btn-outline-secondary {
    text-transform: capitalize;
    width: 90px;
    border: 1px solid #393977;
    background-color: white;
    color: #393977;
    border-radius: 18px;
}

.btn-outline-secondary:hover {
    background-color:#393977;
    color: #fff;
}

.font12 {
    font-size: 12px;
}

.font14 {
    font-size: 14px;
    background-image: url('../../../assets/images/cardBackground.png');
    background-repeat: no-repeat;

}

.font15 {
    font-size: 14px;
    color:rgba(57, 57, 119, 1);
}

.date {
    font-size: 16;
    color: rgba(72, 72, 72, 1);
}

h3 {
    font-size: 28px;
    line-height: 33px;
    color: #303030;
}
