<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/images/images.png" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav nav-tab ml-auto mr-auto mt-2 ">
        <li class="">
          <a
            class="text-grey px-4"
            routerLink="/ideasHome"
            routerLinkActive="active current"
            data-toggle="tab"
            >HOME</a
          >
        </li>
        <li>
          <a
            class="text-grey px-4"
            routerLink="/ideasCourses"
            routerLinkActive="active current"
            data-toggle="tab"

            >COURSES</a
          >
        </li>
        <li>
          <a 
            class="text-grey px-4" 
            routerLink="/ideasTestAndResults" 
            routerLinkActive="active current"
            data-toggle="tab"
            >TEST & RESULTS</a
          >
        </li>
      </ul>
      <ul class="navbar-nav drop-down mt-2 mt-lg-0">
        <li class="nav-item dropdown mt-2">
          <a
            class="nav-link dropdown-toggle header" 
            style="color: #484848;
            font-family: Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            "
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            
          >
            Hi, {{ userName |uppercase }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="profile">Profile</a>
            <a class="dropdown-item" href="profile">Settings</a>
            <a class="dropdown-item">Logout</a>
          </div>
        </li>
        <li class="nav-item with-img">
          <img src="assets/images/Oval.png" alt="" />
        </li>
        <li class="nav-item noti-icon mt-2 ml-2">
          <div>
            <img src="assets/images/noti-icon.svg" alt="" />
            <span
              matBadge="3"
              matBadgeSize="small"
              matBadgeColor="primary"
            ></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
