
.navbar {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    color: #B9B9B9;
}

.active{
    height: 4px;
    color: #393977;
    cursor: pointer;
    padding-bottom: 30px;
    border-bottom: 5px solid #393977;
}

.text-grey {
    color: rgba(185, 185, 185, 1);
    text-decoration: none;
}


  