/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: 'Museo sanS';
  src: url(./fonts/Fonts/MuseoSans_500.otf);
}


body {
  font-family: 'Museo Sans' !important;
  background-color: ghostwhite;
  overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1CB4AE;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1CB4AE;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1CB4AE; 
  }

.font11 {
  font-size: 11px !important;
}

.font12 {
  font-size: 12px !important;
}

.font14 {
  font-size: 14px !important;
}

.font16 {
  font-size: 16px !important;
}

.font18 {
  font-size: 18px !important;
}

.font20 {
  font-size: 20px !important;
}

.bg-grey {
  background: #F5F6F7 !important;
}
