.card-body {
    position: relative;
    background-color: white;
    border: none;
    height: 148px;

}

.card {
    border-radius: 6px;
    border: none;

}

.card-img {
    position: relative;
   
}

.course-duration {
    position: absolute;
    background-color: #393977;
    color: #fff;
    border-radius: 4px;
    bottom: 10px; 
    right : 10px;
    font-size: 12px;
}

.header {
    font-size: 12px;
    line-height: 14px;
    text-transform: capitalize;
    color: #B9B9B9;
}

.score {
    font-family: MuseoSans;
    position: absolute;
    right: 0%;
    width: 72px;
    background-color: #01A75B;
    text-align: center;
    border-radius: 6px 0 0 6px;

}

.scorePercentage {
    font-size: 20px;
}

.flex-sp-btw {
    display: flex;
    justify-content: space-between;
}

.card-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    height: 63px;
}

.progress {
    background: #EAEAEA;
    border-radius: 5px;
    width: 100px;
    height: 8px;
}

.progressbar {
    background-color: #393977;
    border-radius: 5px;
    width: 50px;
    height: 8px;
}

.footer-wrapper {
    color: #b9b9b9;
    font-size: 12px;
    line-height: 21px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 15px;

}

p {
    color: #b9b9b9;
    font-size: 12px;
    line-height: 21px;
    
} 

.footer-links, ul, li {
    line-height: 13px;
    cursor: pointer;
}  
.footer-link {
    color: #b9b9b9;
    font-size: 12px;
    line-height: 21px;
    text-decoration: underline;
    cursor: pointer;
}  

.container .tabs {
    padding-top: 30px;
    display: flex;
}
.container .tabs p {
    margin-right: 20px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
}
.container .tabs .activeTab {
    color : #393977;
}

hr {
    background-color: #393977;
}

.img_bg {
    background-color: ghostwhite;
}

.courseDate {
    color: rgba(72, 72, 72, 1);
    font-size: 12px;
}
