<div>
  <app-ideas-header></app-ideas-header>
  
  <div class="container coursePage">
    <div class="tabs">
      <p (click)="renderNewTab()">Due</p>
      <p (click)="renderNewTab()" class="activeTab">All Courses</p>
      <p (click)="renderNewTab()">Completed</p>
    </div>
    <hr>
      <div class="row">
        <div *ngFor="let course of courseData" class="col-12 col-md-3">
          <div class="card mb-3">
            <div class="card-img">
              <img class="card-img-top" src="/assets/images/course-bg.png" alt="Card-image-cap">
              <div class="course-duration p-1">{{course.duration}}</div>
            </div>
            <div class="card-body">
              <div class="card-title">{{course.title}}</div>
              <div class="flex-sp-btw">
                <div>
                  <div class="header">DUE</div>
                  <p class="courseDate">{{course.date | date:'mediumDate'}}</p>
                </div>
                <div *ngIf="!course.score; else displayScore">
                  <div class="header">PROGRESS</div>
                  <div class="progress my-2">
                    <div class="progressbar"></div>
                  </div>
                </div>
                <ng-template #displayScore>
                  <div class="score p-1 text-white">
                    <div class="header text-white">SCORE</div>
                    <div class="scorePercentage">{{course.score}}</div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="container">
    <app-ideas-footer></app-ideas-footer>
    </div>
</div>
  
   
   